
<html>
<head>
    <title>Batafsil</title>
</head>
<body>
<div style="text-align: center; border: 2px solid red">
    <h2>{{ book.title }} kitobi haqida batafsil ma`lumot</h2></div>
    <div style="text-align: center;"><h3>
    Kitob nomi: {{ book.title }} <br>
    Kitob tavsifi: {{ book.description }} <br>
    Sahifalar soni: {{ book.pages }} <br>
    Kitob holati: {{ book.is_new }} <br>
        <div style="display: flex; justify-content: center;">Kitob narxi: <div style="border: 1px solid green;">{{ book.price }}</div></div><br>
    <div style="display: flex; justify-content: center;">Kitob aftori: <div style="border: 1px solid blue;"><b>{{ book.author }}</b></div></div>
        </h3></div>
</body>
</html>

